@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #041562;
}

#question-number {
  color: white;
  font-size: 18px;
  display: flex;
}

#question-text {
  color: white;
  font-size: 14px;
}

#question-options {
  color: white;
  font-size: 14px;
}